/* FreeRadiantBunny main.css LPL 2020 */

body {
    background-color: #CCCCCC;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 90%;
    font-family: georgia, serif;
}
header {
    background-color: #FFFF55;
    margin: 0px 0px 6px 0px;
    padding: 0px 0px 0px 0px;
    height: 113px;
}
div.area {
    /* background-color: #FFFF55; */
    margin: 0px 0px 4px 157px;
    padding: 22px 0px 0px 0px;
}
h1, h1.table-title {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
h1.name {
    margin: 0px 0px 10px 10px;
    padding: 0px 0px 0px 15px;
}
/*
h2 {
    font-size: 125%;
    line-height: 160%;
    margin: 2px 0px 0px 0px;
    padding: 12px 20px 10px 0px;
}
*/
h2 {
    color: yellow;
    background-color: #7811AA;
    font-size: 110%;
    line-height: 110%;
    margin: 2px 0px 8px 0px;
    padding: 8px 20px 40px 10px;
}
h3.standard {
    margin: 30px 0px 0px 0px;
}
h3.about {
    margin: 36px 0px 0px 0px;
    padding: 9px 0px 8px 6px;
    background-color: #FFFF99;
    color: #000000;
    border-top: 7px solid #66CC66;
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 1px;
}
nav {
    padding: 1px 30px 23px 12px;
}
div.list {
    font-size: 100%;
}
ul li {
    margin: 4px 0px 6px 0px;
}
p {
    font-weight: 500;
    margin: 8px 0px 6px 0px;
    padding: 2px 0px 2px 0px;
    font-size: 110%;
    line-height: 110%;
}
img.icon {
    /* float: left; */
    width: 120px;
    padding: 10px 20px 20px 20px;
}
img.data {
    float: left;
    width: 40px;
    height: auto;
    padding: 0px 8px 2px 0px;
}
div.content {
    margin: 10px 20% 0px 40px;
    font-size: 120%;
    line-height: 110%;
}
div.tagline {
    /* margin: 2px 0px 10px 0px; */
}
div.list-wrap {
    margin: 2px 0px 10px 120px;
}
div.tagline p.intro {
    /* background-color: #CCCCFF;    */
    margin: 4px 0px 0px 0px;
    padding: 12px 0px 10px 0px;
    font-size: 120%;
}
div.memo {
    margin: 10px 0px 8px 0px;
    display: block;
}
div.memo h2 {
    background-color: #7837AA;
    margin: 0px 20px 10px 0px;
    padding: 12px 4px 10px 6px;
}
div.memo p {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 4px 0px;
}
table.grid {
    border-collapse: collapse;
    width: 90%;
    padding: 0px 10px 0px 10px;
}
table.grid td {
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    padding: 6px 4px 6px 4px;
}
table.grid td p {
    font-size: 130%;
    margin: 2px 4px 2px 4px;
    padding: 6px 10px 6px 12px;
    color: #3399FF;
    background-color: #3344FF;
    border-color: #9999FF;
}
td.grid-text {
    vertical-align: top;
    font-size: 80%;
}
p.zap {
    margin: 4px 20px 2px 0px;
    padding: 12px 20px 10px 10px;
    background-color: #CCCCFF;
}
div#rawfeed {
    background-color: #FFa45A;
    font-size: 140%;
    line-height: 26px;
    margin: 0px 14% 4px 0px;
    padding: 4px 10px 4px 10px;
}
p.simple {
    margin: 0;
    padding: 2px 6px 0px 0px;
}
.error {
    background-color: #F08080;
}
div#navbox {
    padding: 10px 30px 10px 8px;
    background-color: #FFFFAA;
}
ul.menu {
    margin: 4px 0px 0px 0px;
    padding: 10px 10px 10px 20px;
    list-style-type: none;
    /*  overflow: hidden; */
    /* background-color: #FFFFAA; */
    font-size: 140%;
}
li.menu {
    float: left;
}
ul.docs {
    display: block;
    margin: 0px 0px 0px 50px;
    padding: 0px 0px 0px 0px;
    list-style-type: disc;
    background-color: #CCCCCC;
}
ul.docs li {
    display: block;
    margin: 4px 0px 4px 0px;
    padding: 0px 0px 0px 4px;
}
li.menu a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.menu a:hover {
    color: #FFFFFF;
    background-color: #484848;
}
.active {
    background-color: #CCCCCC;
}
table {
    border-collapse: collapse;
}
table.standard, table.simple {
    border: 0;
    margin: 0px 0px 0px 0px;
    padding: 0;
    border-collapse: collapse;
}
table.standard tr td h3 {
    margin: 12px 0px 2px 0px;
    padding: 0;
}
table.simple tr td {
    vertical-align: top;
}
table.td.cell-top {
    width: auto;
    height: auto;
    vertical-align: top;
}
div.meta {
    margin: 0px 4px 8px 0px;
}
.blogpost {
    margin: 20px 0px 40px 0px;
    padding: 4px 10px 4px 10px;
}
#block-blog-recent ul {
    margin-bottom: 0px;
}
#block-blog-recent ul li {
    font-size: 90%;
    padding: 0px 0px 4px 0px;
    font-weight: 400;
}
#block-system-main-menu {
    margin: 4px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.content-inner ul, .content-inner ol {
    margin-bottom: 0px;
}
div.content div.field-name-body div.field-items {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
div.content p {
    line-height: 110%;
}
/* blog img */
.field-name-field-image {
    float: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 16px 3px 0px;
}
/* for Tags */
.field-name-field-tags .field-label,
.field-name-field-tags .field-items,
.field-name-field-tags .field-item {
    display: inline;
    margin: 0px 0px 2px 0px;
    padding: 0px 0px 0px 0px;
}
/* do not display Images heading */
div.field-name-field-image div.field-label {
    background-color: #CCCC00;
    display: none;
}
div.user-picture {
    float: left;
    padding: 0px 4px 4px 0px;
    display: inline;
    text-align: right;
}
/* resize the user_picture */
div.user-picture img {
    width: 64px;
    height: auto;
}
a, a:link, a:visited {
}
a:hover, a:focus, a:active {
}

div#site-name {
    font-size: 180%;
    font-weight: 600;
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 2px 0px 0px 0px;
    letter-spacing: 1px;
}
div#site-name a:link {
    text-decoration: none;
}
a.table-title:link, a.table-title:visited {
    text-decoration: none;
}
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
}
#tagline {
    display: block;
    font-size: 140%;
    text-align: left;
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 0px;
}
.page-inner {
    border: 0;
    margin-bottom: 0;
    padding: 0;
}
#main-menu-special {
    margin: 0px 0px 0px 0px;
    display: inline;
}
#main-menu .content {
    margin: 0px;
    padding: 0px;
}
.main-menu-inner ul.sf-menu li li {
    background-color: #FFFFFF;
}
.hyperlink-subsub {
    padding: 10px 0px 0px 0px;
}
.footer {
    clear: both;
}
.logo {
    padding: 6px 14px 2px 4px;
}
div.node div.inner h3 {
    line-height: 120%;
    font-size: 110%;
}
.notes {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
div.node  {
    padding: 0px 0px 26px 0px;
}

#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:focus,
#site-name a:active {
    color: #000000;
    text-decoration: none;
}
tbody {
    border-width: 0px;
}
thead th, th {
    border-width: 0px;
}
tbody th {
    border-width: 0px;
}
table.sticky-enabled tr td {
    line-height: 22px;
}
div.form-item-search-block-form { 
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 10px;
}
div#edit-actions {
    margin: 0px 0px 0px 2px;
    padding: 0px 0px 0px 0px;
}
div#block-fusion_labels-fusion_region_label {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
table.blog-ready {
    border-collapse: collapse;
    margin: 2px 0px 2px 0px;
}
table.blog-ready td {
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
    font-size: 90%;
    border: 1px solid #999999;
}
td.header {
    background-color: #EFEFEF;
    font-weight: 700;
}
td.header-single {
    background-color: #EFEFEF;
    font-weight: 700;
    width: 20%;
}
.qualify { 
  float: left;
  padding: 4px 14px 4px 0px;
}

p.qualified-websitelist {
  padding: 0px 0px 2px 6px;
  font-style: italic;
}

p.code {
  background-color: #EFEFEF;
  padding: 10px 10px 10px 10px;
  font-family: monospace;
  font-size: 90%;
}

.stand-out {
  padding: 10px 10px 10px 10px;
  font-weight: 800;
  font-size: 200%;
}

.column {
  padding: 0px 0px 0px 0px;
}

div.column {
  font-size: 120%;
  margin: 0px 25% 0px 250px;
  padding: 0px 0px 0px 0px;
  background-color: #FFFFFF;
}

/* responsive */
@media only screen and (max-width: 480px) {
    /* small */
    header {
	background-color: #FFFF55;
	margin: 0px 0px 6px 0px;
	padding: 0px 0px 0px 0px;
	height: 85px;
    }
    img {
	width: 20%;
    }
    div.area {
	/* margin: 0px 0px 4px 20px; */
	margin: 0px 0px 4px 20px;
	padding: 10px 0px 0px 0px;
    }
    h1.name {
	/* font-size: 120%; */
	font-size: 100%;
	margin: 0px 0px 10px 10px;
	padding: 0px 0px 0px 15px;
    }
    nav {
	font-size: 80%;
	padding: 1px 14px 3px 50px;
    }
    div#page {
        background-color: lightblue;
	margin: 0px 5px 0px 5px;
	padding: 0px 0px 0px 0px;
    }
    ul.menu {
 	margin: 4px 0px 20px 0px;
	padding: 6px 10px 2px 20px;
	list-style-type: none;
	/*  overflow: hidden; */
	/* background-color: #FFFFAA; */
	font-size: 100%;
    }
    div.content {
       margin: 20px 6px 0px 10px;
       /* font-size: 120%; */
       font-size: 100%;
       line-height: 110%;
   }
   div.memo {
	margin: 10px 6px 8px 6px;
   }
   div.column {
       font-size: 120%;
       margin: 0px 10px 0px 10px;
       padding: 0px 0px 0px 0px;
       background-color: #FFFFFF;
   }
   div.list-wrap {
       margin: 2px 0px 10px 12px;
   }
}
/*
  other sizes:
    320px 
    667px
    768px
*/

.footer {
    content: "";
    clear: both;
    display: table;
}
.img-instance {
    vertical-align: top;
}
.example {
    background-color: #FFa45A;
    font-size: 110%;
    font-family: monospace;
    margin: 0px 14% 4px 0px;
    padding: 10px 10px 10px 10px;
}
last-updated {
    font-style: monospace;
    font-size: 80%;
    margin: 20px 20px 20px 0px;
}
